---
import Main from "@/layouts/Main.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { render } from "astro:content";
import { getCollection } from "astro:content";
import { Tag } from "@/components/Tag";
import OG from "@/components/og";
import { ogImage } from "@reunmedia/astro-og-images";

export async function getStaticPaths() {
  const collection = await getCollection("examples");
  return collection.map((example) => ({
    params: { id: example.id },
    props: { example },
  }));
}

const { example } = Astro.props;
const { Content } = await render(example);

const ogImageUrl = await ogImage(
  OG({
    variant: "example",
    title: example.data.title,
    tags: example.data.tags || [],
  }),
);
---

<RootLayout title={example.data.title} image={ogImageUrl}>
  <Main subtitle={example.data.title}>
    <h2>Tags:</h2>
    <div class="py-1"></div>
    <div class="flex flex-wrap gap-2">
      {example.data.tags?.map((tag) => <Tag tag={tag} client:load />)}
    </div>
    <div class="py-3"></div>
    <article class="prose">
      <Content />
    </article>
  </Main>
</RootLayout>
