<footer class="text-center">
  Made by <a href="https://ethanniser.dev" class="underline">Ethan Niser</a> | <a
    href="https://github.com/ethanniser/effect-by-example"
    class="underline">Source</a
  > | <a
    href="https://github.com/ethanniser/effect-by-example/blob/main/LICENSE"
    class="underline">License</a
  >
</footer>
