<div>
  <a href="https://effect.website" class="underline">Effect</a> is an open source
  library that provides a toolkit for building safe, composable, reusable, and testable
  systems in TypeScript. Please read the <a
    href="https://effect.website/docs"
    class="underline">official documentation</a
  > to learn more.
</div>
<div class="py-3"></div>
<div>
  <i>Effect by Example</i> is a curated set of high quality snippets with explanations
  for Effect. Search for an example by name, filter by tag, or browse the full list
  below.
</div>
