<div>
  <a href="https://effect.website" class="underline">Effect</a> is an open source
  TypeScript library that provides a toolkit for building safe, composable, reusable,
  and testable systems. Please read the <a
    href="https://effect.website/docs"
    class="underline">official documentation</a
  > to learn more.
</div>
<div class="py-3"></div>
<div>
  <i>Effect by Example</i> is a set of short examples that demonstrate how to use
  Effect in a variety of common scenarios. Search for an example by name, filter
  by tag, or browse the full list below.
</div>

