---
import * as Constants from "@/lib/consts";
type Props = {
  subtitle?: string;
};
const { subtitle } = Astro.props;
---

<h1 class="text-4xl font-bold">
  <a href="/" class="hover:underline">{Constants.SITE_TITLE}</a>{
    subtitle ? `: ${subtitle}` : ""
  }
</h1>
<div class="py-1"></div>
<section>
  <slot />
</section>
